body {
    background-color: gray;
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.6;
}

footer {
    background-color: #B52102;
    color: white;
    text-decoration: none;
    padding: 20px;
    position: fixed; 
    width: 100%;
    bottom: 0;
    text-align: center;
}

#barra{
    background-color: #B52102;
}


.content {
    padding: 100px; 
}

#pie{
    background-color: #B52102 ; 
    position: relative;
}